* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 span:last-child {
  display: block;
}

#type {
  color: gold;
}

#cursor {
  font-size: 35px;
}

#cursor.active {
  animation: typing 1s infinite;
}

@keyframes typing {
  0% {color : transparent}
  10% {color : black}
  50% {color : black}
  100% {color : black}
}